.part2{
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    background-color: aqua;
    opacity: 50;
    border-top-left-radius: 5px;
    border-bottom-right-radius:5px ;
    padding: 3px;
}
h2{
    background-color: rgb(247, 251, 29);
    opacity: 50;
    border-top-left-radius: 5px;
    border-bottom-right-radius:5px ;
    padding: 3px;
}